:root {
    --black: #1F2937;
    --white: #F9FAF8;
    --off-white: #E5E7EB;
    --dark-color: #1F2937;
    --accent-color: #3882F6;
    --gray: #E5E7EB;
    --body-width: 800px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

button {
    background-color: var(--accent-color);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section > * {
    width: var(--body-width);
}

/* placeholder, to make the img not annoyingly huge */
.hero-container img {
    height: 200px;
    width: 420px;
}

.bg-dark > *,
.bg-accent > * {
    color: var(--white)
}

.bg-dark {
    background-color: var(--dark-color);
}

.bg-accent {
    background-color: var(--accent-color);
}

.bg-gray {
    background-color: var(--gray);
}

.off-white {
    color: var(--off-white)
}


/***** HEADER *****/

.header-container {
    display: flex;
    margin-top: 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 24px;
    margin-left: auto;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: var(--off-white)
}


/***** HERO *****/

.hero-container {
    display: flex;
    gap: 24px;
    margin: 96px 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-text button {
    align-self: flex-start;
}


/***** INFORMATION *****/

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 64px;
    gap: 32px;
}

.infoboxes {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.infobox img {
    width: 150px;
    height: 150px;
    border: 4px solid var(--accent-color);
    border-radius: 16px;
}

.infobox p {
    color: gray;
    text-align: center;
    width: 150px;
}

/***** QUOTE *****/

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 650px;
    padding: 96px;
}

.quote-text {
    font-size: 28px;
    font-style: italic;
}

.quote-source {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
}


/***** ACTION *****/

.action-container {
    margin: 72px 0;
    padding: 36px 0px;
    border-radius: 8px;

    display: flex;
    justify-content: space-evenly;
}

.action-container button {
    border: 2px solid white;
}


/***** FOOTER *****/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}